/* styles for the product page */

body{
	background-image: url("http://i.imgur.com/wy2jQaA.png");
	width: 100%;
	background-repeat: repeat-y;
	font-family: verdana;
	letter-spacing: 1px;
}

.header{
	width: 100%;
	background: rgba(69, 99, 175, 1);
	position: fixed;
	top: 0px;
	background: -webkit-linear-gradient(left, rgba(81, 122, 224, 0.7), rgba(69, 99, 175, 1)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, rgba(81, 122, 224, 0.7), rgba(69, 99, 175, 1)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, rgba(81, 122, 224, 0.7), rgba(69, 99, 175, 1)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, rgba(81, 122, 224, 0.7), rgba(69, 99, 175, 1));
}

.header img{
	margin-left: 1%;
	
}

.dropdown {
    position: relative;
    display: inline-block;
	margin-top: 20px;
	margin-left: 5px;
	position: fixed;
	top: 10%;
	
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
	color: white;
}

.dropdown a {
    text-decoration: none;
    color: blue;
}

.dropdown a:hover {
    color: white;
}

.Share {
    position: fixed;
    display: inline-block;
	right: 10px;
	top: 10px;
}

.Share-content {
    display: none;
    position: absolute;
 /*   background-color: #f9f9f9;   */
    min-width: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
	text-align: center;
	line-height: 100px;
}

.Share:hover .Share-content {
    display: inline-block;
}

.Share a{
    text-decoration: none;
    color: gray;
}

.Share a:hover{
    color: black;
}


#Intro{
	margin-left: 5%;
	margin-top: 10%;
	height: 500px;
	background: rgba(236, 239, 247, 0.5);
	width: 90%;
	font-size: 1.2em;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

h1{
	margin-left: 15px;
	font-family: impact;
	letter-spacing: 2px;
	text-decoration: underline;
}

#Intro p{
	width: 50%;
	line-height: 2;
	margin-left: 30px;
	margin-top: 30px;
}

.video{
	margin-top: 70px;
	margin-right: 10px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.fineprint{
	font-size: 0.5em;
	
}

.video{
	float: right;
	margin-right: 5%;
	
}

#Features{
	margin-left: 5%;
	margin-top: 10%;
	margin-right: 5%;
	height: 750px;
	background: rgba(236, 239, 247, 0.5);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#Features h2{
	margin-left: 15px;
	font-family: impact;
}

#Features p{
	width: 60%;
	line-height: 3;
	font-size: 1.2em;
	margin-left: 30px;
	margin-top: 30px;
}

.featureimages{
	float: right;
	
}

#Testimonials{
	margin-left: 10%;
	margin-top: 10%;
	margin-bottom: 5%;
	width: 90%;
}

#Testimonials h3{
	font-family: impact;
	
}


.KenSarc{
	height: 210px;
	width: 95%;
}

.KenSarc p{
	background: rgba(236, 239, 247, 0.5);
	height: 200px;
	text-align: center;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.KenSarc img{
	margin-right: 5%;
}

.JamWern{
	height: 210px;
	width: 90%;
}

.JamWern p{
	height: 200px;
	background: rgba(210, 219, 243, 0.5);
	font-size: 1.3em;
	text-align: center;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.JamWern img{
	margin-left: 5%;
}

#KenM{
	font-size: 1.3em;
	
}

#Jameson{
	font-size: 1.0em;
	
}

#Sarcasm{
	font-size: 1.3em;
	
}

#Herzog{
	font-size: 1.0em;
	
}

.portrait{
	float: left;
	margin-left: 0%;
}

.portrait1{
	float: right;
	margin-right: 10%;
}

#Testimonials div p{
	width: 85%;
	
}

#Purchase{
	margin-left: 5%;
	margin-top: 10%;
	
}

.btn-buy{
	background: lightblue;
	margin-left: 2%;
	margin-top: 10px;
}

.harold{
	float: left;
	margin-top: 5px;
}

.Buy{
	height: 210px;
	width: 90%;
}

.Buy p{
	margin-left: 15%;
	width: 70%;
}

#Basic{
	background: rgba(236, 239, 247, 0.5);

}

#Basic p{
	font-size: 1.4em;
}

#Business{
/*	background: rgba(210, 219, 243, 0.5);  */
	background: -webkit-linear-gradient(left, rgba(210, 219, 243, 0.5), lightblue); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, rgba(210, 219, 243, 0.5), lightblue); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, rgba(210, 219, 243, 0.5), lightblue); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, rgba(210, 219, 243, 0.5), lightblue);
	
}

#Business p{
	font-size: 1.4em;
}

#Capcom{
	background:rgba(164, 184, 233, 0.5);
	box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2);
	
}

#Capcom p{
	font-size: 1.3em;
}

.SuperTurbo{
	width: 300px;
}

.bottombar{
	margin-top: 50px;
	width: 100%;
	background: lightblue;
	height: 3%;
	letter-spacing: 5px;
	font-weight: bold;
}

.bottombar p{
	margin-left: 7%;
}
